{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement -shopkabylia {% endblock %}

{% block content %}

<h2>Erreur de paiement</h2>
<p>Bonjour <strong> {{ order.user.firstName }} {{ order.user.lastName }}</strong>, </br>
   Il semblerais que votre paiement est échoué pour votre commande n° <strong>{{ order.reference}}</strong></br>
   Une Confirmation d'erreur vient de vous étre envoyée par email à l'adresse <strong> {{ order.user.email }} </strong>.

   <hr>
   
   <a href="{{ path('app_order')}}" class="btn btn-success">Réessayer le paiement </a>

</p>

{% endblock %}

