{% extends 'base.html.twig' %}

{% block title %}Confirmation de la commande -shopkabylia {% endblock %}

{% block content %}

<h2>Confirmation de la commande </h2>
<p>Bonjour <strong> {{ order.user.firstName }} {{ order.user.lastName }}</strong>, </br>
   Nous vous remercions pour votre commande n° <strong>{{ order.reference}}</strong></br>
   Une Confirmation vient de vous étre envoyée par email à l'adresse <strong> {{ order.user.email }} </strong>.

   <hr>
   
   Votre commande sera livrée par <strong>{{ order.carrierName }}</strong> à l'adresse suivante: </br>
   {{ order.delivery|raw}}</br>
   Pour suivre votre commande rendez vous dans votre <a href="{{ path('app_account_order') }}">compte</a>

</p>

{% endblock %}
